html, body {
    height: 100%;
}

body{
    margin: 0;
    color: white;
    background: linear-gradient(0deg, rgba(51,41,12,1) 0%, rgba(255,200,0,1) 100%);
    font-family: 'Montserrat', sans-serif;
}

.avatar {
    margin-top: 5px;
    width: 200px;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: 0 0 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3{
    font-size: 20px;
}

.profile {
    text-align: center;
}

.social{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 50px;
}

.social img {
    width: 40px;
}

.links-list {
    list-style: none;
    padding: 0;
}

.links-list li{
    margin: 10px 20px;
    box-shadow: 0 0 20px rgb(179, 131, 0);
}

.links-list li a{
    padding: 15px 20px;
    background: white;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: blue;
}

.links-list li a span{
    color: rgb(209, 160, 0);
    display: block;
}